/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-container {
  height: 100vh;
}

.app-sidenav {
  width: 200px;
}

.toolbar-title {
  margin-left: 8px;
}

.app-content {
  padding: 16px;
}
